.mainButton {
  background-color: $main;
  border-radius: 8px;
  display: flex;
  align-items: center;

  padding: 5px 15px;

  border: 1px solid #804700;

  /* Shadow/xs focused 4px grey-100 */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
  border-radius: 8px;

  &:hover {
    background-color: #fbaf4f;
    box-shadow: 2px 1px 2px rgba(16, 24, 40, 0.02), 0px 0px 0px 4px #F2F4F7;
    border-radius: 8px;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  }

  a {
    color: #344054;
    font-weight: 500;
    font-size: 18px;
  }
}

.navigationBar {
  @include font-size(1.6rem);
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  height: 80px;

  span {
    @include font-size(1.5rem);
  }

  a {
    @include font-size(1.2rem);
    text-decoration: none;
    @include margin-right(2rem);
    color: black;

    &:hover {
      color: $main;
    }

    &:selected {
      color: $main;
    }

    &:active {
      color: $main;
      text-decoration: underline;
    }

    &:focus {
      border: 5px solid red;
    }
  }
}

.code-text {
  font-family: 'JetBrains Mono', monospace;
}

.black-white {
  background-color: black;
  color: white;
}

.contactBox {
  a {
    text-decoration: none;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 32px;
      margin-right: 5px;
    }
  }
}

.socialBox {
  @include margin-top(5rem);
  height: 250px;

  img {
    max-width: 32px;
    margin-right: 1rem;
  }
}