@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&family=JetBrains+Mono&display=swap");
@import "~rfs/scss";

// own styles
@import "reset";
@import "colors";
@import "components";

* {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#root {
  overflow-y: hidden;
  background-color: #EFF3F8;
  overflow-x: hidden;

  .hero {
    background: #09132F;
    z-index: 100 !important;
    position: relative;

    h3 {
      font-size: clamp(2.625em, 1.2857em + 3.5714vw, 4em);
    }

    p {
      color: #3E5060;
      margin-bottom: 30px;
    }

    .imageContainer {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px dashed black;
        content: "";
      }
    }
  }

  .accent-color {
    color: linear-gradient(to right, #007FFF, #0059B2) !important;
  }

  .skewed {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: $accent-color;
    transform: skewY(6deg);
    transform-origin: top right;
    height: 100px;
  }

  .about {
    position: relative;
    font-family: "Inter", sans-serif;
    font-style: normal;

    .rightBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
      gap: 10px;
    }

    h1 {
      width: 99px;
      height: 102px;
      font-weight: 800;
      font-size: 85px;
      line-height: 102px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #bdbdbd;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    h2 {
      font-weight: 900;
      font-size: 45px;
      line-height: 52px;
      /* identical to box height, or 116% */
      color: #000000;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.contentWrapper {
  .portfolioContainer {
    z-index: 1000 !important;

    .badge {
      font-size: 1.25rem;
    }

    .card-header {
      position: relative;

      .badge {
        position: absolute;
        right: 2%;
      }
    }
  }

  .aboutBox {
    h3 {
      font-style: normal;
      font-weight: 800;
      font-size: 55px;
      line-height: 65px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: #BDBDBD;
    }

    h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 45px;
      line-height: 52px;
      color: #000000;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */


      color: #3E5060;
    }
  }
}

.text-box {
  h3 {
    @include font-size(2.5em);
  }

  p {
    @include font-size(1.5em);
  }
}

.clientRow {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-around;

   img {
     max-width: 65px;
     height: 45px;
   }
}

.bigEntry-section {
  .entryCol {
    position: relative;

    aside {
      display: grid;
      place-items: center;
      min-height: 550px;
      max-height: 60vh;

      p {
        max-width: 650px;
      }
    }
  }

  span {
    font-size: clamp(3.625em, 1.2857em + 3.5714vw, 4em);
    margin-right: 0.3em;
  }


  @media (max-width: 292px) {
    .bigEntry-section {
      p {
      min-height: 80vh !important;
      }
    }
  }
}

.skillsTab {
  > div {
    margin-bottom: 20px;
  }
}

.welcome-guy {
  min-height: 650px;
  position: relative;

  .first {
    position: absolute;
    top: 0;
    animation: 5s infinite flying ease-in-out;
  }

  .second {
    position: absolute;
    top: 0;
    transform: scale(0.2) translateX(155%) translateY(-100%);
    display: block;
  }

  .first-text {
    position: absolute;
    bottom: 0;
  }
}

.imageDrop {
  filter: contrast(0.9) brightness(1.2) saturate(1.1);
  border-radius: 16px;
}

.spaceMan {
  max-width: 150px;
  right: 0;
  top: 0;
  transform: scale(1);
  animation: 5s infinite flying ease-in-out;
}

.cardPortfolio {
  aspect-ratio: 4/3 !important;
}

.bigEntry {
  position: relative;
  width: 100%;
}

.heroContainer {
  background-color: #09132F;
  z-index: 100;

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #text {
      position: absolute;
      margin: 0 auto;
      word-wrap: break-word;
      z-index: 100;

      h2 {
        @include font-size(20.5em);
        background: -webkit-linear-gradient(#ffffff, #00797e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        transform: translateY(-30px);
        @include font-size(3.5rem);
        color: #fff;
        color: powderblue;
      }
    }

    #clouds {
      z-index: 9;
      overflow: hidden;
    }

    #rocket {
      animation: 3s infinite flying ease-in-out;
      z-index: 2;
    }

    #moon {
      animation: 1s infinite fire ease-in-out;
    }

    #stars {
      animation: 2s infinite fire ease-in-out;
    }

    #fire {
      z-index: 10;
      animation: 1s infinite fire ease-in-out;
    }
  }
}

.contact {
  min-height: 60vh;
  display: grid;
  place-items: center;
}

// queries

@media (max-width: 1279px) {
  .entryCol {
    min-height: 90vw;

    aside {
      height: 90vh;

      p {
        max-width: 70vw;
      }
    }
  }

  .contentWrapper {
    .container {
      min-height: 50vw;
      display: grid;
      place-items: center;
    }
  }
}

@media (min-height: 1600px) {

  .entryCol {
    min-height: 40vw !important;
    padding: 10vh 0;

    aside {
      height: 40vw;

      p {
        max-width: 90vw;
      }
    }
  }
}

@media (min-width: 992px) {
  .bigEntry, .contact {
    margin-top: 15vw;
  }
}

@media (min-width: 1280px) {
  .entryCol {
    min-height: 70vh;

    aside {

      p {
        max-width: 70vw;
      }
    }
  }

  .contentWrapper {
    .container {
      min-height: 50vh;
    }
  }
}

@media (max-width: 992px) {
  .bigEntry, .portfolioContainer {
    min-height: 100vh;
    margin-top: 30% !important;
    margin-bottom: 30% !important;
    padding: 50px 0 !important;
    position: relative;

    .entryCol {
      height: 100%;
    }
  }

  .mobile-none {
    display: none !important;
  }

  .bigEntry, .contact {
    @include margin-top(10rem);
    @include margin-bottom(5rem);
  }
}

@media (max-width: 768px) {
  .heroContainer {
    #text {
      margin: 0 auto;
      @include margin(1rem);
      text-align: center;
      padding: 0 25px;

      h2 {
        @include font-size(20vw !important);
      }
    }
  }

  .bigEntry {
    padding: 0 5vw;
    height: 100%;
    min-height: 50vh;
    margin: 5vh 0;
  }

  .navigationBar {
    a {
      margin-right: 0;
    }

    .mainButton {
      padding: 2px 10px;
    }
  }

  .mobile-none {
    display: none !important;
  }
}

@media (max-width: 560px) {
  .heroContainer {
    #text {
      margin: 0 auto;
      @include margin(1rem);

      h2 {
        @include font-size(20vw !important);
        @include margin-bottom(5rem);
      }
    }
  }

  .mobile-none {
    display: none !important;
  }
}

.hero {
  @media (max-width: 1279px) {
    .container {
      min-height: 70vw;
      display: grid;
      place-items: center;
    }
  }

  @media (min-width: 1280px) {
    .container {
      min-height: 100vh;
      display: grid;
      place-items: center;
    }
  }
}

.modalComponent {
  max-height: 90vh;

  .modal-body {
    overflow-y: scroll;
  }
}

// animations

.arrow {
  position: fixed;
  bottom: 0;
  right: 50%;
  text-align: center;
  @include margin-top(1rem);
  z-index: 5 !important;
}

.bounce {
  animation: bounce 2s infinite;
}

.fire {
  animation: fire 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fire {
  0% {
    transform: translateY(0);
    width: 100%;
  }

  50% {
    transform: translateY(-5px);
    width: 100%;
  }

  100% {
    transform: translateY(0px);
    width: 100%;
  }
}

@keyframes stars {
  0% {
    transform: translate3d(1.0);
  }

  50% {
    transform: translate3d(1.4);
  }

  0% {
    transform: translate3d(1.0);
  }
}

@keyframes flying {
  0% {
    transform: translateY(0);
    width: 100%;
  }

  50% {
    transform: translateY(-50px);
    width: 100%;
  }

  100% {
    transform: translateY(0px);
    width: 100%;
  }
}